[submodule "submodules/evil-rebellion"]
	path = submodules/evil-rebellion
	url = https://github.com/tarleb/evil-rebellion
[submodule "submodules/org_reveal"]
	path = submodules/org_reveal
	url = https://github.com/yjwen/org-reveal
[submodule "submodules/org-mode"]
	path = submodules/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "submodules/helm-bibtex"]
        path = submodules/helm-bibtex
	url = http://github.com/tmalsburg/helm-bibtex
[submodule "submodules/org-ref"]
	path = submodules/org-ref
	url = https://github.com/jkitchin/org-ref
